[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/clipper2"]
	path = 3rdparty/clipper2
	url = https://github.com/AngusJohnson/Clipper2.git
